
.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .dashboard {
    width: 200px;
    margin-right: 20px;


    button {
      width: 100%;
    }

  }
}


h1 {
  width: 400px;
  text-align: center;
  &.win {
    color: green;

  }

  &.lost {
    color: red;
  }
}

.hide {
  display: none;
}
