<div class="wrapper">
  <div class="dashboard">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Width</mat-label>
      <input type="number" matInput [formControl]="width$">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Height</mat-label>
      <input type="number" matInput [formControl]="height$">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Snake speed</mat-label>
      <input type="number" matInput [formControl]="fps$">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cell size</mat-label>
      <input type="number" matInput [formControl]="cell_size$">
    </mat-form-field>

    <button
      (click)="changeGameState()"
      [color]="snake?.game_state == GameState.Running ? 'primary' : 'warn'"
      mat-raised-button> {{snake?.game_state == GameState.Running ? "Stop" : "Start" }}</button>

  </div>


  <div
    [class.hide]="snake?.game_state == GameState.Won || snake?.game_state == GameState.Lost">
    <canvas #canvas></canvas>
  </div>

  <div [class.hide]="snake?.game_state == GameState.Running || snake?.game_state == GameState.Stopped">
    <h1 class="won" *ngIf="snake?.game_state == GameState.Won">YOU WON</h1>
    <h1 class="lost" *ngIf="snake?.game_state == GameState.Lost">YOU LOST</h1>
  </div>

</div>
